<h3 id="notice"><%= notice %></h3>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 col-md-offset-2">
    <h3><span class="text-primary"><%= @user.name %><br></span></h3>
    <h3>Email 电子邮件: <span class="text-primary"><%= @user.email %><br></span></h3>
    <p> Member since 会员自: <%= @user.created_at.strftime("%^B %Y") %> </p>
  </div>
</div>

<div class="books">
<h3>My Books 我的书 (Total <%= @books.count %> book(s) 总共 <%= @books.count %> 本书)</h3>

  <% if @books.size != 0 %>
  <%  @book_months.each do |month, books| %>
  <div class="book row">
    <div class="row list-group">
      <div class="text-center">
    <h4>月份 <%= month.strftime('%b %Y') %> (Total <%= books.count %> book(s) 总共 <%= books.count %> 本书)</h4>
  </div>
    <% for book in books %>
      <div class="col-md-3">
        <div class="well" id="delete_<%= book.id %>">
      
          <p><strong>Title 书名</strong> <br> <%= book.title %> </p>
          <p><strong>Author 作者</strong> <br> <%= book.author %> </p>
          <p><strong>Number of pages 页数</strong> <br> <%= book.pages %> </p>
          <p><strong>Date 日期:</strong> <%= book.created_at.strftime("%Y-%m-%d") %></p>
          <p> <%= link_to 'Show 查看', book_path(book) %> </p>

          <% if logged_in? and current_user.id == book.user_id %>
            <p><%= link_to 'Edit 编辑', edit_book_path(book) %></p>
            <p><%= link_to 'Delete 删除', book, method: :delete, data: {confirm: 'Are you sure 你确定吗?' }, remote: true %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <% end %>
        <% else %>
        <h4 class="text-center">No book created</h4>
      <% end %>
</div>

<% if logged_in? and current_user.admin? %>
  <% @users.each do |user|%>
    <div id="users">
      <ul>
        <li><%= link_to user.name, user_path(user.id) %></li>
      </ul>
    </div>
  <% end %>
<% end %>