
<div class="text_field">
	<%= form.label "Name 名字", class:"sign-up-form-label" %>
	<%= form.text_field :name, class:"form-control", style:"width: 400px;", required: true %>
</div>

<div class="number_field">
	<%= form.label "Year 班级", class:"sign-up-form-label" %>
	<%= form.number_field :name, class:"form-control", style:"width: 400px;", required: true %>
</div>

<div class="text-field">
  <%= form.label "Email 电子邮件", class:"sign-up-form-label" %>
  <%= form.text_field :email, type: 'email', class:"form-control", style:"width: 400px;", required: true %>
</div>

<div class="password-field">
	<%= form.label "Password 密码", class:"sign-up-form-label" %>
	<%= form.password_field :password, class:"form-control", style:"width: 400px;", required: true %>
</div>
